$color-white:#FFFFFF;
$color-white-dark:F7F7F7;
$color-gray:#9DA4BD;
$color-gray-12pr: rgba(157, 164, 189, 0.12);
$color-gray-40pr: rgba(157, 164, 189, 0.4);
$color-gray-60pr: rgba(157, 164, 189, 0.6);
$color-gray-dark:#555555;
$color-black:#303030;
$color-black-dark: #000000;
$color-orange:#FF6C00;



// @font-face{
//     font-family: sans;
//     src: url(../fonts/Open_Sans/);
// }

*{
    
}

body{
    font-family: 'Open Sans', sans-serif;


}