
.gallery__section {}

.gallery__subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: $color-black;
    
}

.gallery__title {}

.gallery__list {}

.gallery__item {}

.gallery__img {}